{
    "extends": [
      "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "env": {
      "es6": true
    },
    "plugins": [
      "prettier"
    ],
    "rules": {
      "prettier/prettier": [
        "error",
        {
          "bracketSpacing": true,
          "jsxBracketSameLine": false,
          "parser": "flow",
          "printWidth": 80,
          "semi": true,
          "singleQuote": true,
          "tabWidth": 2,
          "trailingComma": "all",
          "useTabs": false
        }
      ],
      "no-fallthrough": 0,
      "no-duplicate-case": 0,
      "generator-star-spacing": 0,
      "no-trailing-spaces": [
        "error",
        {
          "ignoreComments": false
        }
      ],
      "sort-keys": [ "warn", "asc", { "natural": true } ],
      "require-jsdoc": "warn"
    }
  }
  